# Nutrition Paradox: A Global View on Obesity and Malnutrition

## Obesity

In [3]:
# Obesity among adults

In [5]:
#collecting data for obesity from the given urls by importing the module requests

In [7]:
import requests
url = "https://ghoapi.azureedge.net/api/NCD_BMI_30C"
results = requests.get(url)
data_1 = results.json()

In [141]:
#data_1

In [11]:
data_1.keys()

dict_keys(['@odata.context', 'value'])

In [13]:
import pandas as pd  #importing pandas inorder to create dataframes and for further changes in data.
df_1 = pd.DataFrame(data_1['value'])
#df_1.head()

In [15]:
df_1['age_group'] = "Adult" #creating an extra column age_group with values as Adults

In [17]:
df_1.head()

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,TimeDim,Dim1,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
0,3668896,NCD_BMI_30C,COUNTRY,COL,AMR,YEAR,Americas,SEX,1992,SEX_FMLE,...,9.9 [8.1-12.0],9.88515,8.05577,11.97806,None,2024-02-29T16:06:41.017+01:00,1992,1992-01-01T00:00:00+01:00,1992-12-31T00:00:00+01:00,Adult
1,3668955,NCD_BMI_30C,COUNTRY,PER,AMR,YEAR,Americas,SEX,2009,SEX_BTSX,...,15.6 [14.9-16.2],15.55367,14.88664,16.24237,None,2024-02-29T16:06:41.017+01:00,2009,2009-01-01T00:00:00+01:00,2009-12-31T00:00:00+01:00,Adult
2,3669038,NCD_BMI_30C,COUNTRY,MDG,AFR,YEAR,Africa,SEX,2021,SEX_MLE,...,3.7 [1.7-6.8],3.68962,1.72177,6.84532,None,2024-02-29T16:06:41.017+01:00,2021,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00,Adult
3,3669356,NCD_BMI_30C,COUNTRY,BLR,EUR,YEAR,Europe,SEX,2008,SEX_FMLE,...,28.3 [23.4-33.5],28.27749,23.36569,33.45258,None,2024-02-29T16:06:41.017+01:00,2008,2008-01-01T00:00:00+01:00,2008-12-31T00:00:00+01:00,Adult
4,3671611,NCD_BMI_30C,COUNTRY,VUT,WPR,YEAR,Western Pacific,SEX,1990,SEX_MLE,...,10.7 [7.5-14.7],10.73574,7.48984,14.74454,None,2024-02-29T16:06:41.017+01:00,1990,1990-01-01T00:00:00+01:00,1990-12-31T00:00:00+01:00,Adult

In [ ]:
# Obesity among children

In [19]:
url = "https://ghoapi.azureedge.net/api/NCD_BMI_PLUS2C"
results = requests.get(url)
data_2 = results.json()

In [143]:
#data_2

In [23]:
df_2 = pd.DataFrame(data_2['value'])
#df_2.head()

In [26]:
df_2['age_group'] = "Children" #creating an extra column age_group with values as children
df_2.head()

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,ParentLocationCode,ParentLocation,Dim1Type,Dim1,TimeDim,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
0,3668538,NCD_BMI_PLUS2C,COUNTRY,NOR,YEAR,EUR,Europe,SEX,SEX_BTSX,2014,...,5.5 [4.6-6.6],5.52571,4.55328,6.59812,None,2024-02-29T16:06:41.017+01:00,2014,2014-01-01T00:00:00+01:00,2014-12-31T00:00:00+01:00,Children
1,3668763,NCD_BMI_PLUS2C,COUNTRY,SRB,YEAR,EUR,Europe,SEX,SEX_MLE,1994,...,6.0 [4.4-7.8],6.00614,4.41775,7.80981,None,2024-02-29T16:06:41.017+01:00,1994,1994-01-01T00:00:00+01:00,1994-12-31T00:00:00+01:00,Children
2,3668811,NCD_BMI_PLUS2C,COUNTRY,CIV,YEAR,AFR,Africa,SEX,SEX_MLE,2008,...,5.1 [1.0-13.4],5.10372,1.00002,13.38913,None,2024-02-29T16:06:41.017+01:00,2008,2008-01-01T00:00:00+01:00,2008-12-31T00:00:00+01:00,Children
3,3668820,NCD_BMI_PLUS2C,WORLDBANKINCOMEGROUP,WB_UMI,YEAR,None,None,SEX,SEX_MLE,2010,...,11.2 [10.6-11.9],11.21617,10.60072,11.85846,None,2024-02-29T16:06:41.017+01:00,2010,2010-01-01T00:00:00+01:00,2010-12-31T00:00:00+01:00,Children
4,3668824,NCD_BMI_PLUS2C,REGION,AFR,YEAR,None,None,SEX,SEX_FMLE,2017,...,3.5 [2.6-4.7],3.52340,2.63546,4.67045,None,2024-05-23T13:28:38.2+02:00,2017,2017-01-01T00:00:00+01:00,2017-12-31T00:00:00+01:00,Children

In [28]:
#Obesity dataframe-> Joining two dataframes created from the collected data inorder to get a complete dataframe for obesity

In [32]:
ob = pd.concat([df_1, df_2])

In [34]:
ob

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,TimeDim,Dim1,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
0,3668896,NCD_BMI_30C,COUNTRY,COL,AMR,YEAR,Americas,SEX,1992,SEX_FMLE,...,9.9 [8.1-12.0],9.88515,8.05577,11.97806,None,2024-02-29T16:06:41.017+01:00,1992,1992-01-01T00:00:00+01:00,1992-12-31T00:00:00+01:00,Adult
1,3668955,NCD_BMI_30C,COUNTRY,PER,AMR,YEAR,Americas,SEX,2009,SEX_BTSX,...,15.6 [14.9-16.2],15.55367,14.88664,16.24237,None,2024-02-29T16:06:41.017+01:00,2009,2009-01-01T00:00:00+01:00,2009-12-31T00:00:00+01:00,Adult
2,3669038,NCD_BMI_30C,COUNTRY,MDG,AFR,YEAR,Africa,SEX,2021,SEX_MLE,...,3.7 [1.7-6.8],3.68962,1.72177,6.84532,None,2024-02-29T16:06:41.017+01:00,2021,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00,Adult
3,3669356,NCD_BMI_30C,COUNTRY,BLR,EUR,YEAR,Europe,SEX,2008,SEX_FMLE,...,28.3 [23.4-33.5],28.27749,23.36569,33.45258,None,2024-02-29T16:06:41.017+01:00,2008,2008-01-01T00:00:00+01:00,2008-12-31T00:00:00+01:00,Adult
4,3671611,NCD_BMI_30C,COUNTRY,VUT,WPR,YEAR,Western Pacific,SEX,1990,SEX_MLE,...,10.7 [7.5-14.7],10.73574,7.48984,14.74454,None,2024-02-29T16:06:41.017+01:00,1990,1990-01-01T00:00:00+01:00,1990-12-31T00:00:00+01:00,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62365,3665680,NCD_BMI_PLUS2C,COUNTRY,SWZ,AFR,YEAR,Africa,SEX,2006,SEX_MLE,...,1.2 [0.5-2.3],1.16551,0.47725,2.27084,None,2024-02-29T16:06:41.017+01:00,2006,2006-01-01T00:00:00+01:00,2006-12-31T00:00:00+01:00,Children
62366,3665943,NCD_BMI_PLUS2C,COUNTRY,VEN,AMR,YEAR,Americas,SEX,1994,SEX_FMLE,...,4.3 [1.4-9.1],4.32665,1.36497,9.14819,None,2024-02-29T16:06:41.017+01:00,1994,1994-01-01T00:00:00+01:00,1994-12-31T00:00:00+01:00,Children
62367,3665951,NCD_BMI_PLUS2C,GLOBAL,GLOBAL,None,YEAR,None,SEX,2010,SEX_BTSX,...,4.4 [4.3-4.6],4.44055,4.31674,4.56459,None,2024-05-23T13:28:38.2+02:00,2010,2010-01-01T00:00:00+01:00,2010-12-31T00:00:00+01:00,Children
62368,3665974,NCD_BMI_PLUS2C,COUNTRY,DZA,AFR,YEAR,Africa,SEX,2006,SEX_BTSX,...,8.6 [4.8-13.4],8.64799,4.75480,13.43071,None,2024-02-29T16:06:41.017+01:00,2006,2006-01-01T00:00:00+01:00,2006-12-31T00:00:00+01:00,Children
62369,3665975,NCD_BMI_PLUS2C,COUNTRY,JAM,AMR,YEAR,Americas,SEX,2014,SEX_BTSX,...,10.8 [8.4-13.6],10.84718,8.40009,13.63038,None,2024-02-29T16:06:41.017+01:00,2014,2014-01-01T00:00:00+01:00,2014-12-31T00:00:00+01:00,Children

In [36]:
df_ob = ob[ ob['TimeDim'].between(2012, 2022)] # making changes inorder to collect data that ranges only from 2012-2022

In [38]:
df_ob

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,TimeDim,Dim1,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
2,3669038,NCD_BMI_30C,COUNTRY,MDG,AFR,YEAR,Africa,SEX,2021,SEX_MLE,...,3.7 [1.7-6.8],3.68962,1.72177,6.84532,None,2024-02-29T16:06:41.017+01:00,2021,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00,Adult
5,3672465,NCD_BMI_30C,COUNTRY,FRA,EUR,YEAR,Europe,SEX,2022,SEX_BTSX,...,10.9 [9.6-12.4],10.92481,9.58692,12.36096,None,2024-02-29T16:06:41.017+01:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00,Adult
8,3674698,NCD_BMI_30C,COUNTRY,PHL,WPR,YEAR,Western Pacific,SEX,2017,SEX_FMLE,...,8.4 [7.0-9.9],8.41463,6.99715,9.93353,None,2024-02-29T16:06:41.017+01:00,2017,2017-01-01T00:00:00+01:00,2017-12-31T00:00:00+01:00,Adult
10,3676710,NCD_BMI_30C,COUNTRY,DOM,AMR,YEAR,Americas,SEX,2018,SEX_BTSX,...,26.0 [23.7-28.2],25.97384,23.66421,28.22921,None,2024-02-29T16:06:41.017+01:00,2018,2018-01-01T00:00:00+01:00,2018-12-31T00:00:00+01:00,Adult
14,3680301,NCD_BMI_30C,COUNTRY,KHM,WPR,YEAR,Western Pacific,SEX,2017,SEX_FMLE,...,4.0 [3.4-4.6],3.95142,3.35820,4.59334,None,2024-02-29T16:06:41.017+01:00,2017,2017-01-01T00:00:00+01:00,2017-12-31T00:00:00+01:00,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62346,3663638,NCD_BMI_PLUS2C,COUNTRY,GHA,AFR,YEAR,Africa,SEX,2014,SEX_MLE,...,8.7 [5.9-11.9],8.71078,5.94913,11.94577,None,2024-02-29T16:06:41.017+01:00,2014,2014-01-01T00:00:00+01:00,2014-12-31T00:00:00+01:00,Children
62349,3663993,NCD_BMI_PLUS2C,COUNTRY,BOL,AMR,YEAR,Americas,SEX,2014,SEX_FMLE,...,11.1 [4.5-20.7],11.14351,4.50353,20.71586,None,2024-02-29T16:06:41.017+01:00,2014,2014-01-01T00:00:00+01:00,2014-12-31T00:00:00+01:00,Children
62358,3664795,NCD_BMI_PLUS2C,COUNTRY,KIR,WPR,YEAR,Western Pacific,SEX,2019,SEX_BTSX,...,15.6 [7.2-25.4],15.58351,7.24410,25.38391,None,2024-02-29T16:06:41.017+01:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00,Children
62362,3665291,NCD_BMI_PLUS2C,COUNTRY,CIV,AFR,YEAR,Africa,SEX,2015,SEX_MLE,...,4.4 [1.0-10.5],4.44626,0.98986,10.51816,None,2024-02-29T16:06:41.017+01:00,2015,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00,Children
62369,3665975,NCD_BMI_PLUS2C,COUNTRY,JAM,AMR,YEAR,Americas,SEX,2014,SEX_BTSX,...,10.8 [8.4-13.6],10.84718,8.40009,13.63038,None,2024-02-29T16:06:41.017+01:00,2014,2014-01-01T00:00:00+01:00,2014-12-31T00:00:00+01:00,Children

## Malnutrition

In [ ]:
# Malnutrition among adults

In [41]:
url = "https://ghoapi.azureedge.net/api/NCD_BMI_18C" #collecting malnutrition data
results = requests.get(url)
data_3 = results.json()

In [145]:
#data_3

In [45]:
df_3 = pd.DataFrame(data_3['value'])

In [47]:
df_3['age_group'] = "Adult" #creating an extra column age_group with values as Adult
df_3.head()

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
0,3668482,NCD_BMI_18C,COUNTRY,COD,AFR,YEAR,Africa,SEX,SEX_FMLE,2000,...,19.0 [15.7-22.4],19.00559,15.67453,22.36037,None,2024-02-29T16:06:41.017+01:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00,Adult
1,3670573,NCD_BMI_18C,COUNTRY,CRI,AMR,YEAR,Americas,SEX,SEX_FMLE,2017,...,2.2 [1.4-3.1],2.16071,1.39641,3.13659,None,2024-02-29T16:06:41.017+01:00,2017,2017-01-01T00:00:00+01:00,2017-12-31T00:00:00+01:00,Adult
2,3670705,NCD_BMI_18C,COUNTRY,SVK,EUR,YEAR,Europe,SEX,SEX_MLE,1997,...,1.3 [0.8-1.9],1.31427,0.84151,1.91430,None,2024-02-29T16:06:41.017+01:00,1997,1997-01-01T00:00:00+01:00,1997-12-31T00:00:00+01:00,Adult
3,3670846,NCD_BMI_18C,COUNTRY,BGR,EUR,YEAR,Europe,SEX,SEX_BTSX,2009,...,2.9 [2.3-3.6],2.90520,2.26155,3.64756,None,2024-02-29T16:06:41.017+01:00,2009,2009-01-01T00:00:00+01:00,2009-12-31T00:00:00+01:00,Adult
4,3671268,NCD_BMI_18C,COUNTRY,PHL,WPR,YEAR,Western Pacific,SEX,SEX_BTSX,1992,...,16.5 [14.6-18.3],16.45521,14.64602,18.33539,None,2024-02-29T16:06:41.017+01:00,1992,1992-01-01T00:00:00+01:00,1992-12-31T00:00:00+01:00,Adult

In [ ]:
# Malnutrition among children

In [49]:
url = "https://ghoapi.azureedge.net/api/NCD_BMI_MINUS2C"
results = requests.get(url)
data_4 = results.json()

In [147]:
#data_4

In [56]:
df_4 = pd.DataFrame(data_4['value'])
#df_4.head()

In [60]:
df_4['age_group'] = "Children" #creating an extra column age_group with values as children
df_4.head()

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
0,3668540,NCD_BMI_MINUS2C,COUNTRY,PRK,SEAR,YEAR,South-East Asia,SEX,SEX_FMLE,2005,...,8.2 [2.9-16.4],8.18313,2.87881,16.36474,None,2024-02-29T16:06:41.017+01:00,2005,2005-01-01T00:00:00+01:00,2005-12-31T00:00:00+01:00,Children
1,3668629,NCD_BMI_MINUS2C,COUNTRY,ITA,EUR,YEAR,Europe,SEX,SEX_BTSX,2021,...,1.9 [1.3-2.7],1.90346,1.28521,2.71259,None,2024-02-29T16:06:41.017+01:00,2021,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00,Children
2,3668690,NCD_BMI_MINUS2C,COUNTRY,SSD,AFR,YEAR,Africa,SEX,SEX_MLE,1997,...,12.2 [4.3-23.2],12.17112,4.25509,23.17848,None,2024-02-29T16:06:41.017+01:00,1997,1997-01-01T00:00:00+01:00,1997-12-31T00:00:00+01:00,Children
3,3668692,NCD_BMI_MINUS2C,COUNTRY,ATG,AMR,YEAR,Americas,SEX,SEX_BTSX,2018,...,2.9 [1.2-5.6],2.88039,1.16153,5.61062,None,2024-02-29T16:06:41.017+01:00,2018,2018-01-01T00:00:00+01:00,2018-12-31T00:00:00+01:00,Children
4,3668979,NCD_BMI_MINUS2C,COUNTRY,HTI,AMR,YEAR,Americas,SEX,SEX_FMLE,1991,...,5.1 [2.7-8.5],5.10163,2.72608,8.45262,None,2024-02-29T16:06:41.017+01:00,1991,1991-01-01T00:00:00+01:00,1991-12-31T00:00:00+01:00,Children

In [ ]:
#Malnutrition dataframe

In [62]:
mal = pd.concat([df_3,df_4]) #joining the malnutrition dataframes to one single dataframe

In [64]:
mal

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
0,3668482,NCD_BMI_18C,COUNTRY,COD,AFR,YEAR,Africa,SEX,SEX_FMLE,2000,...,19.0 [15.7-22.4],19.00559,15.67453,22.36037,None,2024-02-29T16:06:41.017+01:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00,Adult
1,3670573,NCD_BMI_18C,COUNTRY,CRI,AMR,YEAR,Americas,SEX,SEX_FMLE,2017,...,2.2 [1.4-3.1],2.16071,1.39641,3.13659,None,2024-02-29T16:06:41.017+01:00,2017,2017-01-01T00:00:00+01:00,2017-12-31T00:00:00+01:00,Adult
2,3670705,NCD_BMI_18C,COUNTRY,SVK,EUR,YEAR,Europe,SEX,SEX_MLE,1997,...,1.3 [0.8-1.9],1.31427,0.84151,1.91430,None,2024-02-29T16:06:41.017+01:00,1997,1997-01-01T00:00:00+01:00,1997-12-31T00:00:00+01:00,Adult
3,3670846,NCD_BMI_18C,COUNTRY,BGR,EUR,YEAR,Europe,SEX,SEX_BTSX,2009,...,2.9 [2.3-3.6],2.90520,2.26155,3.64756,None,2024-02-29T16:06:41.017+01:00,2009,2009-01-01T00:00:00+01:00,2009-12-31T00:00:00+01:00,Adult
4,3671268,NCD_BMI_18C,COUNTRY,PHL,WPR,YEAR,Western Pacific,SEX,SEX_BTSX,1992,...,16.5 [14.6-18.3],16.45521,14.64602,18.33539,None,2024-02-29T16:06:41.017+01:00,1992,1992-01-01T00:00:00+01:00,1992-12-31T00:00:00+01:00,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62365,3664646,NCD_BMI_MINUS2C,COUNTRY,BOL,AMR,YEAR,Americas,SEX,SEX_FMLE,2017,...,0.8 [0.3-1.7],0.79498,0.29221,1.70825,None,2024-02-29T16:06:41.017+01:00,2017,2017-01-01T00:00:00+01:00,2017-12-31T00:00:00+01:00,Children
62366,3664949,NCD_BMI_MINUS2C,COUNTRY,VNM,WPR,YEAR,Western Pacific,SEX,SEX_MLE,2005,...,21.6 [19.0-24.3],21.61520,19.04902,24.25251,None,2024-02-29T16:06:41.017+01:00,2005,2005-01-01T00:00:00+01:00,2005-12-31T00:00:00+01:00,Children
62367,3665476,NCD_BMI_MINUS2C,COUNTRY,SSD,AFR,YEAR,Africa,SEX,SEX_BTSX,2002,...,6.3 [2.3-12.6],6.32567,2.31023,12.56632,None,2024-02-29T16:06:41.017+01:00,2002,2002-01-01T00:00:00+01:00,2002-12-31T00:00:00+01:00,Children
62368,3665489,NCD_BMI_MINUS2C,COUNTRY,PRY,AMR,YEAR,Americas,SEX,SEX_BTSX,1999,...,3.0 [1.5-5.5],3.02888,1.45698,5.49437,None,2024-02-29T16:06:41.017+01:00,1999,1999-01-01T00:00:00+01:00,1999-12-31T00:00:00+01:00,Children
62369,3665899,NCD_BMI_MINUS2C,COUNTRY,ERI,AFR,YEAR,Africa,SEX,SEX_FMLE,2003,...,11.7 [4.5-22.0],11.73609,4.46866,21.97205,None,2024-02-29T16:06:41.017+01:00,2003,2003-01-01T00:00:00+01:00,2003-12-31T00:00:00+01:00,Children

In [66]:
df_mal = mal[ mal['TimeDim'].between(2012, 2022)  ] # making changes inorder to collect data that ranges only from 2012-2022

In [68]:
df_mal

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
1,3670573,NCD_BMI_18C,COUNTRY,CRI,AMR,YEAR,Americas,SEX,SEX_FMLE,2017,...,2.2 [1.4-3.1],2.16071,1.39641,3.13659,None,2024-02-29T16:06:41.017+01:00,2017,2017-01-01T00:00:00+01:00,2017-12-31T00:00:00+01:00,Adult
5,3673004,NCD_BMI_18C,COUNTRY,TJK,EUR,YEAR,Europe,SEX,SEX_FMLE,2012,...,6.2 [5.0-7.6],6.19024,4.99639,7.55970,None,2024-02-29T16:06:41.017+01:00,2012,2012-01-01T00:00:00+01:00,2012-12-31T00:00:00+01:00,Adult
6,3676458,NCD_BMI_18C,COUNTRY,ZAF,AFR,YEAR,Africa,SEX,SEX_MLE,2019,...,8.2 [6.1-10.6],8.21884,6.10654,10.56783,None,2024-02-29T16:06:41.017+01:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00,Adult
9,3677729,NCD_BMI_18C,COUNTRY,SWE,EUR,YEAR,Europe,SEX,SEX_BTSX,2012,...,1.4 [1.0-1.9],1.41263,1.04285,1.85392,None,2024-02-29T16:06:41.017+01:00,2012,2012-01-01T00:00:00+01:00,2012-12-31T00:00:00+01:00,Adult
15,3680034,NCD_BMI_18C,COUNTRY,KNA,AMR,YEAR,Americas,SEX,SEX_BTSX,2020,...,2.7 [1.2-5.1],2.70458,1.16426,5.07886,None,2024-02-29T16:06:41.017+01:00,2020,2020-01-01T00:00:00+01:00,2020-12-31T00:00:00+01:00,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62356,3663424,NCD_BMI_MINUS2C,COUNTRY,VEN,AMR,YEAR,Americas,SEX,SEX_BTSX,2019,...,2.4 [1.1-4.3],2.42135,1.11320,4.30154,None,2024-02-29T16:06:41.017+01:00,2019,2019-01-01T00:00:00+01:00,2019-12-31T00:00:00+01:00,Children
62359,3663689,NCD_BMI_MINUS2C,COUNTRY,FJI,WPR,YEAR,Western Pacific,SEX,SEX_FMLE,2015,...,4.6 [2.9-6.6],4.56368,2.90331,6.64599,None,2024-02-29T16:06:41.017+01:00,2015,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00,Children
62360,3663737,NCD_BMI_MINUS2C,WORLDBANKINCOMEGROUP,WB_LMI,None,YEAR,None,SEX,SEX_BTSX,2020,...,13.9 [12.9-14.9],13.88212,12.87417,14.92605,None,2024-02-29T16:06:41.017+01:00,2020,2020-01-01T00:00:00+01:00,2020-12-31T00:00:00+01:00,Children
62361,3664060,NCD_BMI_MINUS2C,COUNTRY,UGA,AFR,YEAR,Africa,SEX,SEX_MLE,2021,...,7.1 [3.8-11.3],7.13202,3.84619,11.34289,None,2024-02-29T16:06:41.017+01:00,2021,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00,Children
62365,3664646,NCD_BMI_MINUS2C,COUNTRY,BOL,AMR,YEAR,Americas,SEX,SEX_FMLE,2017,...,0.8 [0.3-1.7],0.79498,0.29221,1.70825,None,2024-02-29T16:06:41.017+01:00,2017,2017-01-01T00:00:00+01:00,2017-12-31T00:00:00+01:00,Children

## Data cleaning

In [ ]:
#deleting the unwanted columns for obesity dataframe

In [71]:
df_ob.drop(['Id','IndicatorCode', 'SpatialDimType','ParentLocationCode','TimeDimType',
            'Dim1Type','Dim2Type', 'Dim2','Dim3Type','Dim3','DataSourceDimType','DataSourceDim',
            'Value','Comments','Date','TimeDimensionValue','TimeDimensionBegin','TimeDimensionEnd'], axis = 1, inplace = True)

C:\Users\PC1\AppData\Local\Temp\ipykernel_10708\1618397183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ob.drop(['Id','IndicatorCode', 'SpatialDimType','ParentLocationCode','TimeDimType',

In [73]:
df_ob

,SpatialDim,ParentLocation,TimeDim,Dim1,NumericValue,Low,High,age_group
2,MDG,Africa,2021,SEX_MLE,3.68962,1.72177,6.84532,Adult
5,FRA,Europe,2022,SEX_BTSX,10.92481,9.58692,12.36096,Adult
8,PHL,Western Pacific,2017,SEX_FMLE,8.41463,6.99715,9.93353,Adult
10,DOM,Americas,2018,SEX_BTSX,25.97384,23.66421,28.22921,Adult
14,KHM,Western Pacific,2017,SEX_FMLE,3.95142,3.35820,4.59334,Adult
...,...,...,...,...,...,...,...,...
62346,GHA,Africa,2014,SEX_MLE,8.71078,5.94913,11.94577,Children
62349,BOL,Americas,2014,SEX_FMLE,11.14351,4.50353,20.71586,Children
62358,KIR,Western Pacific,2019,SEX_BTSX,15.58351,7.24410,25.38391,Children
62362,CIV,Africa,2015,SEX_MLE,4.44626,0.98986,10.51816,Children
62369,JAM,Americas,2014,SEX_BTSX,10.84718,8.40009,13.63038,Children

In [ ]:
#deleting unwanted columns for malnutrition dataframe using df.drop()

In [75]:
df_mal.drop(['Id','IndicatorCode', 'SpatialDimType','ParentLocationCode','TimeDimType',
            'Dim1Type','Dim2Type', 'Dim2','Dim3Type','Dim3','DataSourceDimType','DataSourceDim',
            'Value','Comments','Date','TimeDimensionValue','TimeDimensionBegin','TimeDimensionEnd'], axis = 1, inplace = True)

C:\Users\PC1\AppData\Local\Temp\ipykernel_10708\3930469502.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mal.drop(['Id','IndicatorCode', 'SpatialDimType','ParentLocationCode','TimeDimType',

In [77]:
df_mal

,SpatialDim,ParentLocation,Dim1,TimeDim,NumericValue,Low,High,age_group
1,CRI,Americas,SEX_FMLE,2017,2.16071,1.39641,3.13659,Adult
5,TJK,Europe,SEX_FMLE,2012,6.19024,4.99639,7.55970,Adult
6,ZAF,Africa,SEX_MLE,2019,8.21884,6.10654,10.56783,Adult
9,SWE,Europe,SEX_BTSX,2012,1.41263,1.04285,1.85392,Adult
15,KNA,Americas,SEX_BTSX,2020,2.70458,1.16426,5.07886,Adult
...,...,...,...,...,...,...,...,...
62356,VEN,Americas,SEX_BTSX,2019,2.42135,1.11320,4.30154,Children
62359,FJI,Western Pacific,SEX_FMLE,2015,4.56368,2.90331,6.64599,Children
62360,WB_LMI,None,SEX_BTSX,2020,13.88212,12.87417,14.92605,Children
62361,UGA,Africa,SEX_MLE,2021,7.13202,3.84619,11.34289,Children
62365,BOL,Americas,SEX_FMLE,2017,0.79498,0.29221,1.70825,Children

In [ ]:
#renaming the columns to the instructed format

In [79]:
df_obesity = df_ob.rename(columns={'TimeDim': 'Year', 'Dim1': 'Gender','NumericValue':'Mean_Estimate','Low':'LowerBound',
                           'High':'UpperBound','ParentLocation':'Region','SpatialDim':'Country'})

In [81]:
#Renaming the row values of Gender column using replace()

In [83]:
df_obesity['Gender'] = df_obesity['Gender'].replace({'SEX_FMLE': 'Female', 'SEX_BTSX': 'Both', 'SEX_MLE': 'Male'})

In [85]:
df_obesity

,Country,Region,Year,Gender,Mean_Estimate,LowerBound,UpperBound,age_group
2,MDG,Africa,2021,Male,3.68962,1.72177,6.84532,Adult
5,FRA,Europe,2022,Both,10.92481,9.58692,12.36096,Adult
8,PHL,Western Pacific,2017,Female,8.41463,6.99715,9.93353,Adult
10,DOM,Americas,2018,Both,25.97384,23.66421,28.22921,Adult
14,KHM,Western Pacific,2017,Female,3.95142,3.35820,4.59334,Adult
...,...,...,...,...,...,...,...,...
62346,GHA,Africa,2014,Male,8.71078,5.94913,11.94577,Children
62349,BOL,Americas,2014,Female,11.14351,4.50353,20.71586,Children
62358,KIR,Western Pacific,2019,Both,15.58351,7.24410,25.38391,Children
62362,CIV,Africa,2015,Male,4.44626,0.98986,10.51816,Children
62369,JAM,Americas,2014,Both,10.84718,8.40009,13.63038,Children

In [87]:
#renaming the columns to the instructed format

In [89]:
df_malnutrition = df_mal.rename(columns={'TimeDim': 'Year', 'Dim1': 'Gender','NumericValue':'Mean_Estimate','Low':'LowerBound',
                           'High':'UpperBound','ParentLocation':'Region','SpatialDim':'Country'})

In [91]:
#Renaming the row values of Gender column using replace()

In [93]:
df_malnutrition['Gender'] = df_malnutrition['Gender'].replace({'SEX_FMLE': 'Female', 'SEX_BTSX': 'Both', 'SEX_MLE': 'Male'})

In [95]:
df_malnutrition

,Country,Region,Gender,Year,Mean_Estimate,LowerBound,UpperBound,age_group
1,CRI,Americas,Female,2017,2.16071,1.39641,3.13659,Adult
5,TJK,Europe,Female,2012,6.19024,4.99639,7.55970,Adult
6,ZAF,Africa,Male,2019,8.21884,6.10654,10.56783,Adult
9,SWE,Europe,Both,2012,1.41263,1.04285,1.85392,Adult
15,KNA,Americas,Both,2020,2.70458,1.16426,5.07886,Adult
...,...,...,...,...,...,...,...,...
62356,VEN,Americas,Both,2019,2.42135,1.11320,4.30154,Children
62359,FJI,Western Pacific,Female,2015,4.56368,2.90331,6.64599,Children
62360,WB_LMI,None,Both,2020,13.88212,12.87417,14.92605,Children
62361,UGA,Africa,Male,2021,7.13202,3.84619,11.34289,Children
62365,BOL,Americas,Female,2017,0.79498,0.29221,1.70825,Children

In [97]:
# Changing the names of Countries that are given as three letter codes in the country column to their full names using 'pycountry'

In [99]:
!pip install pycountry

Requirement already satisfied: pycountry in c:\users\pc1\anaconda3\lib\site-packages (24.6.1)

In [101]:
import pycountry
special_cases = {
    'GLOBAL': 'Global',
    'WB_LMI': 'Low & Middle Income',
    'WB_HI': 'High Income',
    'WB_LI': 'Low Income',
    'EMR': 'Eastern Mediterranean Region',
    'EUR': 'Europe',
    'AFR': 'Africa',
    'SEAR': 'South-East Asia Region',
    'WPR': 'Western Pacific Region',
    'AMR': 'Americas Region',
    'WB_UMI': 'Upper Middle Income'
}
def get_country_full_name(code):
    if code in special_cases:
        return special_cases[code]
    country = pycountry.countries.get(alpha_3=code)
    if country:
        return country.name
    else:
        return None
df_malnutrition['Country_name'] = df_malnutrition['Country'].apply(get_country_full_name)
df_obesity['Country_name'] = df_obesity['Country'].apply(get_country_full_name)

In [103]:
df_malnutrition

,Country,Region,Gender,Year,Mean_Estimate,LowerBound,UpperBound,age_group,Country_name
1,CRI,Americas,Female,2017,2.16071,1.39641,3.13659,Adult,Costa Rica
5,TJK,Europe,Female,2012,6.19024,4.99639,7.55970,Adult,Tajikistan
6,ZAF,Africa,Male,2019,8.21884,6.10654,10.56783,Adult,South Africa
9,SWE,Europe,Both,2012,1.41263,1.04285,1.85392,Adult,Sweden
15,KNA,Americas,Both,2020,2.70458,1.16426,5.07886,Adult,Saint Kitts and Nevis
...,...,...,...,...,...,...,...,...,...
62356,VEN,Americas,Both,2019,2.42135,1.11320,4.30154,Children,"Venezuela, Bolivarian Republic of"
62359,FJI,Western Pacific,Female,2015,4.56368,2.90331,6.64599,Children,Fiji
62360,WB_LMI,None,Both,2020,13.88212,12.87417,14.92605,Children,Low & Middle Income
62361,UGA,Africa,Male,2021,7.13202,3.84619,11.34289,Children,Uganda
62365,BOL,Americas,Female,2017,0.79498,0.29221,1.70825,Children,"Bolivia, Plurinational State of"

In [105]:
df_obesity

,Country,Region,Year,Gender,Mean_Estimate,LowerBound,UpperBound,age_group,Country_name
2,MDG,Africa,2021,Male,3.68962,1.72177,6.84532,Adult,Madagascar
5,FRA,Europe,2022,Both,10.92481,9.58692,12.36096,Adult,France
8,PHL,Western Pacific,2017,Female,8.41463,6.99715,9.93353,Adult,Philippines
10,DOM,Americas,2018,Both,25.97384,23.66421,28.22921,Adult,Dominican Republic
14,KHM,Western Pacific,2017,Female,3.95142,3.35820,4.59334,Adult,Cambodia
...,...,...,...,...,...,...,...,...,...
62346,GHA,Africa,2014,Male,8.71078,5.94913,11.94577,Children,Ghana
62349,BOL,Americas,2014,Female,11.14351,4.50353,20.71586,Children,"Bolivia, Plurinational State of"
62358,KIR,Western Pacific,2019,Both,15.58351,7.24410,25.38391,Children,Kiribati
62362,CIV,Africa,2015,Male,4.44626,0.98986,10.51816,Children,Côte d'Ivoire
62369,JAM,Americas,2014,Both,10.84718,8.40009,13.63038,Children,Jamaica

In [107]:
#adding new column CI_Width( confidence interval width-range within which a population parameter is estimated to lie, with a certain level of confidence)

In [109]:
df_obesity['CI_Width'] = df_obesity['UpperBound'] - df_obesity['LowerBound']

In [111]:
df_obesity

,Country,Region,Year,Gender,Mean_Estimate,LowerBound,UpperBound,age_group,Country_name,CI_Width
2,MDG,Africa,2021,Male,3.68962,1.72177,6.84532,Adult,Madagascar,5.12355
5,FRA,Europe,2022,Both,10.92481,9.58692,12.36096,Adult,France,2.77404
8,PHL,Western Pacific,2017,Female,8.41463,6.99715,9.93353,Adult,Philippines,2.93638
10,DOM,Americas,2018,Both,25.97384,23.66421,28.22921,Adult,Dominican Republic,4.56500
14,KHM,Western Pacific,2017,Female,3.95142,3.35820,4.59334,Adult,Cambodia,1.23514
...,...,...,...,...,...,...,...,...,...,...
62346,GHA,Africa,2014,Male,8.71078,5.94913,11.94577,Children,Ghana,5.99664
62349,BOL,Americas,2014,Female,11.14351,4.50353,20.71586,Children,"Bolivia, Plurinational State of",16.21233
62358,KIR,Western Pacific,2019,Both,15.58351,7.24410,25.38391,Children,Kiribati,18.13981
62362,CIV,Africa,2015,Male,4.44626,0.98986,10.51816,Children,Côte d'Ivoire,9.52830
62369,JAM,Americas,2014,Both,10.84718,8.40009,13.63038,Children,Jamaica,5.23029

In [113]:
df_malnutrition['CI_Width'] = df_malnutrition['UpperBound'] - df_malnutrition['LowerBound']

In [115]:
df_malnutrition

,Country,Region,Gender,Year,Mean_Estimate,LowerBound,UpperBound,age_group,Country_name,CI_Width
1,CRI,Americas,Female,2017,2.16071,1.39641,3.13659,Adult,Costa Rica,1.74018
5,TJK,Europe,Female,2012,6.19024,4.99639,7.55970,Adult,Tajikistan,2.56331
6,ZAF,Africa,Male,2019,8.21884,6.10654,10.56783,Adult,South Africa,4.46129
9,SWE,Europe,Both,2012,1.41263,1.04285,1.85392,Adult,Sweden,0.81107
15,KNA,Americas,Both,2020,2.70458,1.16426,5.07886,Adult,Saint Kitts and Nevis,3.91460
...,...,...,...,...,...,...,...,...,...,...
62356,VEN,Americas,Both,2019,2.42135,1.11320,4.30154,Children,"Venezuela, Bolivarian Republic of",3.18834
62359,FJI,Western Pacific,Female,2015,4.56368,2.90331,6.64599,Children,Fiji,3.74268
62360,WB_LMI,None,Both,2020,13.88212,12.87417,14.92605,Children,Low & Middle Income,2.05188
62361,UGA,Africa,Male,2021,7.13202,3.84619,11.34289,Children,Uganda,7.49670
62365,BOL,Americas,Female,2017,0.79498,0.29221,1.70825,Children,"Bolivia, Plurinational State of",1.41604

In [ ]:
# Categorizing obesity based on Mean estimate values as 'High','Moderate'and 'Low' by defining a function 
# and adding a column obesity_level to obesity dataframe

In [117]:
def categorize_obesity(Mean_Estimate):
    if Mean_Estimate >= 30:
        return 'High'
    elif 25 <= Mean_Estimate < 30:
        return 'Moderate'
    else:
        return 'Low' 
df_obesity['obesity_level'] = df_obesity['Mean_Estimate'].apply(categorize_obesity)

In [119]:
df_obesity

,Country,Region,Year,Gender,Mean_Estimate,LowerBound,UpperBound,age_group,Country_name,CI_Width,obesity_level
2,MDG,Africa,2021,Male,3.68962,1.72177,6.84532,Adult,Madagascar,5.12355,Low
5,FRA,Europe,2022,Both,10.92481,9.58692,12.36096,Adult,France,2.77404,Low
8,PHL,Western Pacific,2017,Female,8.41463,6.99715,9.93353,Adult,Philippines,2.93638,Low
10,DOM,Americas,2018,Both,25.97384,23.66421,28.22921,Adult,Dominican Republic,4.56500,Moderate
14,KHM,Western Pacific,2017,Female,3.95142,3.35820,4.59334,Adult,Cambodia,1.23514,Low
...,...,...,...,...,...,...,...,...,...,...,...
62346,GHA,Africa,2014,Male,8.71078,5.94913,11.94577,Children,Ghana,5.99664,Low
62349,BOL,Americas,2014,Female,11.14351,4.50353,20.71586,Children,"Bolivia, Plurinational State of",16.21233,Low
62358,KIR,Western Pacific,2019,Both,15.58351,7.24410,25.38391,Children,Kiribati,18.13981,Low
62362,CIV,Africa,2015,Male,4.44626,0.98986,10.51816,Children,Côte d'Ivoire,9.52830,Low
62369,JAM,Americas,2014,Both,10.84718,8.40009,13.63038,Children,Jamaica,5.23029,Low

In [121]:
# Categorizing malnutrition based on Mean estimate values as 'High','Moderate'and 'Low' by defining a function 
# and adding a column malnutrition_level to malnutrition dataframe

In [123]:
def categorize_malnutrition(Mean_Estimate):
    if Mean_Estimate >= 30:
        return 'High'
    elif 25 <= Mean_Estimate < 30:
        return 'Moderate'
    else:
        return 'Low' 
df_malnutrition['malnutrition_level'] = df_malnutrition['Mean_Estimate'].apply(categorize_malnutrition)

In [125]:
df_malnutrition

,Country,Region,Gender,Year,Mean_Estimate,LowerBound,UpperBound,age_group,Country_name,CI_Width,malnutrition_level
1,CRI,Americas,Female,2017,2.16071,1.39641,3.13659,Adult,Costa Rica,1.74018,Low
5,TJK,Europe,Female,2012,6.19024,4.99639,7.55970,Adult,Tajikistan,2.56331,Low
6,ZAF,Africa,Male,2019,8.21884,6.10654,10.56783,Adult,South Africa,4.46129,Low
9,SWE,Europe,Both,2012,1.41263,1.04285,1.85392,Adult,Sweden,0.81107,Low
15,KNA,Americas,Both,2020,2.70458,1.16426,5.07886,Adult,Saint Kitts and Nevis,3.91460,Low
...,...,...,...,...,...,...,...,...,...,...,...
62356,VEN,Americas,Both,2019,2.42135,1.11320,4.30154,Children,"Venezuela, Bolivarian Republic of",3.18834,Low
62359,FJI,Western Pacific,Female,2015,4.56368,2.90331,6.64599,Children,Fiji,3.74268,Low
62360,WB_LMI,None,Both,2020,13.88212,12.87417,14.92605,Children,Low & Middle Income,2.05188,Low
62361,UGA,Africa,Male,2021,7.13202,3.84619,11.34289,Children,Uganda,7.49670,Low
62365,BOL,Americas,Female,2017,0.79498,0.29221,1.70825,Children,"Bolivia, Plurinational State of",1.41604,Low

In [127]:
#deleting country column

In [129]:
df_obesity.drop(['Country'],axis = 1, inplace = True)
df_malnutrition.drop(['Country'],axis = 1, inplace = True)

In [131]:
df_obesity = df_obesity.rename(columns={'Country_name': 'Country'}) #renaming Country_name
df_malnutrition = df_malnutrition.rename(columns={'Country_name': 'Country'})

In [133]:
df_obesity

,Region,Year,Gender,Mean_Estimate,LowerBound,UpperBound,age_group,Country,CI_Width,obesity_level
2,Africa,2021,Male,3.68962,1.72177,6.84532,Adult,Madagascar,5.12355,Low
5,Europe,2022,Both,10.92481,9.58692,12.36096,Adult,France,2.77404,Low
8,Western Pacific,2017,Female,8.41463,6.99715,9.93353,Adult,Philippines,2.93638,Low
10,Americas,2018,Both,25.97384,23.66421,28.22921,Adult,Dominican Republic,4.56500,Moderate
14,Western Pacific,2017,Female,3.95142,3.35820,4.59334,Adult,Cambodia,1.23514,Low
...,...,...,...,...,...,...,...,...,...,...
62346,Africa,2014,Male,8.71078,5.94913,11.94577,Children,Ghana,5.99664,Low
62349,Americas,2014,Female,11.14351,4.50353,20.71586,Children,"Bolivia, Plurinational State of",16.21233,Low
62358,Western Pacific,2019,Both,15.58351,7.24410,25.38391,Children,Kiribati,18.13981,Low
62362,Africa,2015,Male,4.44626,0.98986,10.51816,Children,Côte d'Ivoire,9.52830,Low
62369,Americas,2014,Both,10.84718,8.40009,13.63038,Children,Jamaica,5.23029,Low

In [135]:
df_malnutrition

,Region,Gender,Year,Mean_Estimate,LowerBound,UpperBound,age_group,Country,CI_Width,malnutrition_level
1,Americas,Female,2017,2.16071,1.39641,3.13659,Adult,Costa Rica,1.74018,Low
5,Europe,Female,2012,6.19024,4.99639,7.55970,Adult,Tajikistan,2.56331,Low
6,Africa,Male,2019,8.21884,6.10654,10.56783,Adult,South Africa,4.46129,Low
9,Europe,Both,2012,1.41263,1.04285,1.85392,Adult,Sweden,0.81107,Low
15,Americas,Both,2020,2.70458,1.16426,5.07886,Adult,Saint Kitts and Nevis,3.91460,Low
...,...,...,...,...,...,...,...,...,...,...
62356,Americas,Both,2019,2.42135,1.11320,4.30154,Children,"Venezuela, Bolivarian Republic of",3.18834,Low
62359,Western Pacific,Female,2015,4.56368,2.90331,6.64599,Children,Fiji,3.74268,Low
62360,None,Both,2020,13.88212,12.87417,14.92605,Children,Low & Middle Income,2.05188,Low
62361,Africa,Male,2021,7.13202,3.84619,11.34289,Children,Uganda,7.49670,Low
62365,Americas,Female,2017,0.79498,0.29221,1.70825,Children,"Bolivia, Plurinational State of",1.41604,Low

In [ ]:
!pip install pymysql #install pymysql to connect with Mysql workbench

In [ ]:
import pymysql
connection = pymysql.connect(host = "localhost",user = "root",password = "password",database = "nutrition") #connecting with database
cursor = connection.cursor()

## Obesity_Table

In [ ]:
#creating table
cursor.execute("""
            create table obesity(
            Region text,
            Gender varchar(20),
            Year int,
            Mean_Estimate float,
            LowerBound float,
            UpperBound float,
            age_group varchar(20),
            Country text,
            CI_Width float,
            obesity_level varchar(20));
            """ )

In [ ]:
#inserting values into table
for index, row in df_obesity.iterrows():
    cursor.execute("""
        INSERT INTO obesity (
            Region, Gender, Year, Mean_Estimate, LowerBound, UpperBound, 
            age_group, Country, CI_Width, obesity_level
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['Region'], row['Gender'], row['Year'], row['Mean_Estimate'],
        row['LowerBound'], row['UpperBound'], row['age_group'],
        row['Country'], row['CI_Width'], row['obesity_level']
    ))
connection.commit()

## Malnutrition_Table

In [ ]:
#creating table
cursor.execute("""
            create table malnutrition(
            Region text,
            Gender varchar(20),
            Year int,
            Mean_Estimate float,
            LowerBound float,
            UpperBound float,
            age_group varchar(20),
            Country text,
            CI_Width float,
            malnutrition_level varchar(20));
            """ )

In [ ]:
#inserting values into table
for index, row in df_malnutrition.iterrows():
    cursor.execute("""
        INSERT INTO malnutrition (
            Region, Gender, Year, Mean_Estimate, LowerBound, UpperBound, 
            age_group, Country, CI_Width, malnutrition_level
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['Region'], row['Gender'], row['Year'], row['Mean_Estimate'],
        row['LowerBound'], row['UpperBound'], row['age_group'],
        row['Country'], row['CI_Width'], row['malnutrition_level']
    ))
connection.commit()